<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="/public/js/func.js"></script>
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  span#col{
    color:<%= '#' + col[0] %>
  }
  span.acol{
    color:<%= '#' + col[1] %>
  }
  span#phrase {
    font-family:<%= fon %>;
  }
  span#gos{
    font-family:sans-serif;
  }
  span#min{
    font-family:serif;
  }
  body{
    font-size: 1.5rem;
  }
  #cho,#sen,#ano{
    font-size: 2rem;
  }
  #sen,#ano{
    border: 2px solid;
    border-color:#c8c8c8;
    width:  <%= 2*19 %>rem;
  }
  #sen{
    text-align:center;
  }
  #sim{
    text-align:right;
  }
  .button{
    font-size: 1.5rem;
  }
</style>
<body>
  <p>1部：文字の強調[ <a href="/question/1/3">1.配色</a> → 2.文字フォント → 3.装飾 ]</p>
  <hr>
  <h2><%= textdata[0].item %></h2>
  <hr>

  <form action="/question/2/answer" method="post">
  <div id="que">
    <p><%= textdata[0].que %></p>
    <p>※一般に、明朝体はうろこがあり、細い線と太い線が合わさったフォントになっています。<br>
          　対して、ゴシック体はうろこがなく、線の幅が一定なフォントになっています。</p>
  </div>
  <div id="cho">
    <% let c; 
      for (let row of choices){ 
        if(row.face == fon) c = "checked";
        else c = ""; %>
    <font face="<%= row.face %>">
      <input type="radio" name="choice" id="<%= row.face %>" value="<%= row.face %>" onclick="choiceFont(this.id)" <%= c %> ><%= row.name %>
    </font>
    <% } %>
  </div>
  <div id="sen">
    <p><span id="phrase">カラー<span id="col">ユニバーサル</span>デザイン</span></p>
  </div>    
  
  <div id="button">
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="col" value="<%= col[0] %>">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id=ano>
      ＜別フォントとの比較(P型色覚)＞<br>
      <div id="sim">
        ゴシック体:<span id="gos">カラー<span class="acol">ユニバーサル</span>デザイン</span><br>
        明朝体:<span id="min">カラー<span class="acol">ユニバーサル</span>デザイン</span><br>
      </div>
    </div>
    <div id="eva">
      <% if(gb == 0) { %> 
        <p><%= textdata[0].bad %></p>
        <p>ポイント：<%= textdata[0].adv %></p>
        <p>別の選択肢を選んでください。</p>
      <% }else{ %> 
        <p><%= textdata[0].good %></p>  
        <p>ポイント：<%= textdata[0].adv %></p>
        <hr>
        <p><a href="<%= '/question/3/' + col[0] %>">次の項目へ</a></p>
      <% } %>
    </div>
  <% } %>
</body>
</html>