<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<script>
function choiceLine() {
  const sen = document.querySelector("#sen1");
  sen.style.textDecoration = "underline";
}
function choiceBold() {
  const sen = document.querySelector("#sen2");
  sen.style.fontWeight = "bold";
}
function choiceClearLine() {
  const sen = document.querySelector("#sen1");
  sen.style.textDecoration = "none";
}
function choiceClearBold() {
  const sen = document.querySelector("#sen2");
  sen.style.fontWeight = "normal";
}
</script>
<style type="text/css">
span#sen1 {
color:<%= "#" + col %>;
text-decoration:<%= li %>
}
span#sen2 {
color:<%= "#" + col %>;
font-weight:<%= bo %>
}
</style>
<body>
  <h1><%= textdata[0].item %></h1>
  <hr>

  <form action="/question/3/answer" method="post">
  <div id="que">
    <div>
      <p><%= textdata[0].que %></p>
    </div>
    <div>
      <p>
        <input type="radio" name="line" value="0" onclick="choiceClearLine()" checked>装飾なし
        <input type="radio" name="line" value="1" onclick="choiceLine()" <%= ch[0] %> >アンダーラインを引く
      </p>
    <div>
      <font size=5 face="san-serif">
        <p>カラー<span id="sen1">ユニバーサル</span>デザイン</p>
      </font>
    </div>  
    <div>
      <p>
        <input type="radio" name="bold" value="0" onclick="choiceClearBold()" checked>装飾なし
        <input type="radio" name="bold" value="1" onclick="choiceBold()" <%= ch[1] %> >太字にする</p>
    <div>
      <font size=5 face="san-serif">
        <p>カラー<span id="sen2">ユニバーサル</span>デザイン</p>
      </font>
    </div>  
  </div>
  
  <div>
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="col" value="<%= col %>">
    <p><input type="submit" value="評価"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div>
        <% if(gb == 0) { %> 
          <p><%= textdata[0].bad %></p>
          <p><%= textdata[0].adv %></p>
          <p>装飾をすべて選びましょう</p>
        <% }else{ %> 
          <p><%= textdata[0].good %></p>  
          <p><%= textdata[0].adv %></p>
          <div>
            <p><a href="/">top page</a></p>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>

</body>
</html>