<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="/public/js/func.js"></script>
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  span#phrase1,#phrase2{
    color:<%= "#" + col[0] %>;
  }
  span#a1 {
    text-decoration:<%= li %>
  }
  span#a2 {
    font-weight:<%= bo %>
  }
  span.acol{
    color:<%= "#" + col[1] %>;
  }
  body{
    font-size: 1.5rem;
  }
  #cho,#sen,#ano{
    font-size: 2rem;
  }
  #sen,#ano{
    border: 2px solid;
    border-color:#c8c8c8;
    font-family:sans-serif;
    width: <%= 2*16 %>rem;
  }
  .button{
    font-size: 1.5rem;
  }
</style>
<body>
  <p>1部：文字の強調[ 1.配色 → <a href="<%='/question/2/' + col[0] %>">2.文字フォント</a> → 3.装飾 ]</p>
  <hr>
  <h2>3. <%= textdata[0].item %></h2>
  <hr>

  <form action="/question/3/answer" method="post">
  <div id="que">
    <p><%= textdata[0].que %></p>
  </div>
  <div id="cho">
    <input type="radio" name="line" value="0" onclick="choiceClearLine()" checked>装飾なし
    <input type="radio" name="line" value="1" onclick="choiceLine()" <%= ch[0] %> >アンダーラインを引く
  </div>
  <div id="sen">
    <p>カラー<span id="phrase1">ユニバーサル</span>デザイン</p>
  </div>  
  <div id="cho">
    <input type="radio" name="bold" value="0" onclick="choiceClearBold()" checked>装飾なし
    <input type="radio" name="bold" value="1" onclick="choiceBold()" <%= ch[1] %> >太字にする</p>
  </div>
  <div id="sen">
    <p>カラー<span id="phrase2">ユニバーサル</span>デザイン</p>
  </div>  
  
  <div id="button">
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="col" value="<%= col[0] %>">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div>
        <% if(gb == 0) { %> 
          <p><%= textdata[0].bad %></p>
          <p><%= textdata[0].adv %></p>
        <% }else{ %> 
          <div id=ano>
            ＜装飾なしとの比較（P型）＞<br>
            カラー<span class="acol">ユニバーサル</span>デザイン<br>
            カラー<span id="a1" class="acol">ユニバーサル</span>デザイン<br>
            カラー<span id="a2" class="acol">ユニバーサル</span>デザイン
          </div>
          <p><%= textdata[0].good %></p>  
          <p><%= textdata[0].adv %></p>
          <hr>
          <p><a href="/">top page</a>　　<a href="/question/4/FF0000">2部：色の組み合わせ</a></p>
        <% } %>
      </div>
    </div>
  <% } %>
</body>
</html>