<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<script>
function choiceColor(code) {
  const phrase = document.querySelector("#phrase");
  phrase.style.color = "#" + code;
}
</script>
<style type="text/css">
span#phrase {
  color:<%= "#" + col[0] %>;
}
#cho{
  font-size: 1.5rem;
}
#sen{
  border: 2px solid;
  border-color:#c8c8c8;
  font-size: 1.75rem;
  width: 450px;
}
.button{
  font-size: 1rem;
}
#ano{
  border: 2px solid;
  border-color:#c8c8c8;
  font-size: 1.75rem;
  width: 450px;
}
</style>
<body>
  <h1>文字の強調：<%= textdata[0].item %></h1>
  <hr>

  <form action="/question/1/answer" method="post">
  <div id="que">
    <div>
      <p><%= textdata[0].que %></p>
    </div>
    <div id="cho">
        <% let c; 
          for (let row of choices){ 
            if(row.ccode == col[0]) c = "checked";
            else c = "";
        %>
          <font color="<%= '#' + row.ccode %>">
            <input type="radio" name="choice" id="<%= row.ccode %>" value="<%= row.id %>" onclick="choiceColor(this.id)" <%= c %>><%= row.name %>
          </font>
          <input type="hidden" name="gb" value="<%= row.gb %>">
        <% } %>
      </p>
    <div id="sen">
      <p>カラー<span id="phrase">ユニバーサル</span>デザイン</p>
    </div>    
  </div>
  
  <div id="button">
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div id=ano>
        <別色覚視点><br>
        P型：カラー<span style="color:<%= '#' + col[1] %>">ユニバーサル</span>デザイン<br>
        D型：カラー<span style="color:<%= '#' + col[2] %>">ユニバーサル</span>デザイン<br>
        S型：カラー<span style="color:<%= '#' + col[3] %>">ユニバーサル</span>デザイン
      </div>
      </p>
      <div>
        <% if(gb == 0) { %> 
          <p><%= textdata[0].bad %></p>
          <p>ポイント：<%= textdata[0].adv %></p>
          <p>別の選択肢を選んでください</p>
        <% }else{ %> 
          <p><%= textdata[0].good %></p>  
          <p>ポイント：<%= textdata[0].adv %></p>
          <hr>
          <p><a href="<%= '/question/' + (parseInt(textdata[0].id)+1) + '/' + col[0] %>">次の項目へ</a></p>
        <% } %>
      </div>
    </div>
  <% } %>

</body>
</html>