<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="/public/js/func.js"></script>
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  p#phrase{
    color:<%= "#" + col[0] %>;
    font-weight: bold;
  }
  .a0,.a1,.a2,.a3{
    font-weight: bold;
    text-align:center;
  }
  .a0{
    color:<%= "#" + col[0] %>;
    background-color:<%= "#" + bcol[0] %>;
  }
  .a1 {
    color:<%= "#" + col[1] %>;
    background-color:<%= "#" + bcol[1] %>;
  }
  .a2 {
    color:<%= "#" + col[2] %>;
    background-color:<%= "#" + bcol[2] %>;
  }
  .a3 {
    color:<%= "#" + col[3] %>;
    background-color:<%= "#" + bcol[3] %>;
  }
  body{
    font-size: 1.5rem;
  }
  #cho,#sen,#ano{
    font-size: 2rem;
  }
  #cho{
    font-weight: bold;
  }
  #sen,#ano{
    border: 2px solid;
    border-color:#c8c8c8;
    width: <%= 2*16 %>rem;
  }
  #sen{
    color:<%= "#" + col[0] %>;
    background-color:<%= "#" + bcol[0] %>;
    text-align:center;
  }
  #ano,#sim{
    text-align:left;
  }
  .button{
    font-size: 1.5rem;
  }

</style>
<body>
  <a href="/">トップページに戻る</a>
  <hr>
  <p>2部：色の組み合わせ[ 1.色相 → 2.明度 → 3.彩度 ]</p>
  <hr>
  <h2><%= textdata[0].item %></h2>
  <hr>

  <form action="/question/4/answer" method="post">
  <div id="que">
    <p><%= textdata[0].que %></p>
    <details>
      <summary>色相とは</summary>
      <img src="/public/img/sikisou_n.png" alt="色相:通常色覚">
      <p>色相とは、図のような赤・緑・青などの色味の種類のことです。色覚異常の中には、色相で別となっている２つの色の区別がつきづらい色覚があるため、区別がつきづらい色を同時に使用しないように注意する必要があります。</p>
    </details>
  </div>
  <div id="cho">
    <% let c; 
      for (let row of choices){ 
        if(row.ccode == col[0]) c = "checked";
        else c = ""; %>
    <font color="<%= '#' + row.ccode %>">
      <input type="radio" name="choice" id="<%= row.ccode %>" value="<%= row.id %>" onclick="choiceColor(this.id)" <%= c %>><%= row.name %>
    </font>
    <input type="hidden" name="gb" value="<%= row.gb %>">
    <% } %>
  </div>
  <div id="sen">
    <p id="phrase">カラーユニバーサルデザイン</p>
  </div>  
  
  <div id="button">
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="bcol" value="<%= bcol[0] %>">
    <input type="hidden" name="backid" value="<%= backid[0] %>">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  <input type="hidden" name="count" value="<%= count %>">
  <input type="hidden" name="prev1" value="<%= prev1 %>">
  <input type="hidden" name="prev2" value="<%= prev2 %>">
  </form>

  <% if(e == 1){ %>
    <div id="acho">
      選択した色：<%= col[4] %>
    </div>
    <div id="ano">
      ＜別色覚での見え方＞<br>
      <div id="sim">
        通常：
        <div class="a0">
          カラーユニバーサルデザイン<br>
        </div>
        P型：
        <div class="a1">
          カラーユニバーサルデザイン<br>
        </div>
        D型：
        <div class="a2">
          カラーユニバーサルデザイン<br>
        </div>
        T型：
        <div class="a3">
          カラーユニバーサルデザイン<br>
        </div>
      </div>
    </div>
    <div id="eva">
      <img src="/public/img/sikisou_ano.png" alt="色相:複数色覚">
      <% if(gb == 0) { %> 
        <p><%= textdata[0].bad %></p>
        <p>ポイント：<%= textdata[0].adv %></p>
        <p>別の選択肢を選んでください。</p>
      <% }else{ %> 
        <p><%= textdata[0].good %></p>  
        <p>ポイント：<%= textdata[0].adv %></p>
        <hr>
      <% if(count >= 3) { %> 
        <p>＜背景色を変更する＞<br>
        <% for (let row of choices){  %>
          <a href="<%= '/question/4/' + row.ccode + '/0' %>"><%= row.name %></a>
        <% } %>
        </p>
        <hr>
        <p><a href="<%= '/question/5/31FC31' %>">次の項目へ</a></p>
      <% } else { %>
        <p>別の選択肢も試しましょう。適する色を３つ以上試すことで次の項目に移ることができます。</p>
      <% } 
        } %>
    </div>
  <% } %>
</body>
</html>