<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="/public/js/func.js"></script>
  <script src="/public/js/3c.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  body{
    font-size: 1.5rem;
  }
  #cho{
    font-size: 1.75rem;
  }
  canvas.graph{
    width:500px;
  }
  #ano{
    border: 2px solid;
    border-color:#c8c8c8;
    width: <%= 2*16 %>rem;
  }
  #ano,#sim{
    font-size: 2rem
    text-align:left;
  }
  .button{
    font-size: 1.5rem;
  }

  </style>
<body>
  <p>3部：グラフ[ 1.配色 → <a href="<%= '/question/8/' +col[0][0]+col[1][0]+col[2][0]  %>">2.色以外での区別</a> → 3.項目名の書き方 ]</p>
  <hr>
  <h2>2. 色以外での区別</h2>
  <hr>
  <form action="/question/9/answer" method="post">
  <div id="que">
    <p>que</p>
  </div>
  <div id="cho">
    <input type="radio" id="" name="c0" value="top" <%= check[0] %>>別枠にまとめる
    <input type="radio" id="true" name="c0" value="right" <%= check[1] %>>線の近くに表示する
  </div>
  <div id="graph">
    <canvas id="graph1" class="graph"></canvas>
    <input type="hidden" name="a0s0" value="<%= col[0][0] %>">
    <input type="hidden" name="a0s1" value="<%= col[1][0] %>">
    <input type="hidden" name="a0s2" value="<%= col[2][0] %>">
    <% for(let i=0;i<6;i++){ %>
        <input type="hidden" name="<%= 'm'+String(i) %>" value="<%= mark[i] %>">
    <% } %>
  </div>
  <div id="button">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="ano">
      ＜別色覚視点＞<br>
      <div id="sim">
        通常：<canvas id="a0" class="graph"></canvas>
        P型：<canvas id="a1" class="graph"></canvas>
        <input type="hidden" name="a1s0" value="<%= col[0][1] %>">
        <input type="hidden" name="a1s1" value="<%= col[1][1] %>">
        <input type="hidden" name="a1s2" value="<%= col[2][1] %>">
      </div>
    </div>
    <div id="eva">
      <% if(gb == 0) { %> 
        <p><%= textdata[0].bad %></p>
        <p>ポイント：<%= textdata[0].adv %></p>
        <p>別の選択肢を選んでください</p>
      <% }else{ %> 
        <p><%= textdata[0].good %></p>  
        <p>ポイント：<%= textdata[0].adv %></p>
        <hr>
        <p><a href="/">top</a></p>
      <% } %>
    </div>
  <% } %>

</body>
</html>