<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="/public/js/func.js"></script>
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  p#phrase{
    color:<%= "#" + col[0] %>;
    font-weight: bold;
  }
  .a0,.a1,.a2,.a3{
   font-weight: bold;
    text-align:center;
  }
  .a0{
    color:<%= "#" + col[0] %>;
    background-color:<%= "#" + bcol[0] %>;
  }
  .a1 {
    color:<%= "#" + col[1] %>;
    background-color:<%= "#" + bcol[1] %>;
  }
  .a2 {
    color:<%= "#" + col[2] %>;
    background-color:<%= "#" + bcol[2] %>;
  }
  .a3 {
    color:<%= "#" + col[3] %>;
    background-color:<%= "#" + bcol[3] %>;
  }
  body{
    font-size: 1.5rem;
  }
  #cho,#sen,#ano{
    font-size: 2rem;
  }
  #cho{
    font-weight: bold;
  }
  #sen,#ano{
    border: 2px solid;
    border-color:#c8c8c8;
    width: <%= 2*16 %>rem;
  }
  #sen{
    color:<%= "#" + col[0] %>;
    background-color:<%= "#" + bcol[0] %>;
    text-align:center;
  }
  #ano,#sim{
    text-align:left;
  }
  .button{
    font-size: 1.5rem;
  }
</style>
<body>
  <p>2部：色の組み合わせ[ <a href="/question/4/FF0000/3">1.色相</a> → 2.明度 → 3.彩度 ]</p>
  <hr>
  <h2> <%= textdata[0].item %></h2>
  <hr>

  <form action="/question/5/answer" method="post">
  <div id="que">
    <p><%= textdata[0].que %></p>
    <details>
      <summary>明度とは</summary>
      <img src="/public/img/meido_n.png" alt="明度">
      <p>色の明るさのことです。図のように、明度が高いほど白に近づき、低いほど黒に近くなります。色覚異常では色相による区別がしづらい特徴があるため、明度を意識することで、色覚によらず区別しやすいデザインを行うことができます。</p>
    </details>
  </div>
  <div id="cho">
    <% let c; 
      for (let row of choices){ 
        if(row.ccode == col[0]) c = "checked";
        else c = ""; %>
    <font color="<%= '#' + row.ccode %>">
      <input type="radio" name="choice" id="<%= row.ccode %>" value="<%= row.id %>" onclick="choiceColor(this.id)" <%= c %>><%= row.name %>
    </font>
    <input type="hidden" name="gb" value="<%= row.gb %>">
    <% } %>
  </div>
  <div id="sen">
    <p id="phrase">カラーユニバーサルデザイン</p>
  </div>    

  <div id="button">
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="bcol" value="<%= bcol[0] %>">
    <input type="hidden" name="backid" value="<%= backid %>">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="acho">
      選択した色：<%= col[4] %>
    </div>
    <div id="ano">
      ＜別色覚視点＞<br>
      <div id="sim">
        通常：
        <div class="a0">
          カラーユニバーサルデザイン<br>
        </div>
        P型：
        <div class="a1">
          カラーユニバーサルデザイン<br>
        </div>
        D型：
        <div class="a2">
          カラーユニバーサルデザイン<br>
        </div>
        T型：
        <div class="a3">
          カラーユニバーサルデザイン<br>
        </div>
      </div>
    </div>
    <div id="eva">
      <img src="/public/img/meido_ano.png" alt="明度：選択肢">
      <% if(gb == 0) { %> 
        <p><%= textdata[0].bad %></p>
        <p>ポイント：<%= textdata[0].adv %></p>
        <p>別の選択肢を選んでください。</p>
      <% }else{ %> 
        <p><%= textdata[0].good %></p>  
        <p>ポイント：<%= textdata[0].adv %></p>
        <hr>
        <p>＜背景色を変更する＞<br>
        <% for (let row of choices){  %>
          <a href="<%= '/question/5/' + row.ccode %>"><%= row.name %></a>
        <% } %>
        <hr>
        <p><a href="<%= '/question/6/FFBFC0' %>">次の項目へ</a></p>
      <% } %>
    </div>
  <% } %>

</body>
</html>