<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<script>
  function choiceColor(font) {
  const sen = document.querySelector("#sen");
  sen.style.fontFamily = font;
}
</script>
<style type="text/css">
span#sen {
color:<%= '#' + col %>;
font-family:<%= fon %>;
}
</style>
<body>
  <h1><%= textdata[0].item %></h1>
  <hr>

  <form action="/question/2/answer" method="post">
  <div id="que">
    <div>
      <p><%= textdata[0].que %></p>
    </div>
    <div>
      <p>選択肢</p>
      <p>
        <% let c; 
          for (let row of choices){ 
            if(row.face == fon) c = "checked";
            else c = "";
        %>
        <font face="<%= row.face %>">
          <input type="radio" name="choice" id="<%= row.face %>" value="<%= row.face %>" onclick="choiceColor(this.id)" <%= c %> ><%= row.name %>
        </font>
        <% } %>
      </p>
    <div>
      <font size=6><span id="sen"><%= textdata[0].sen %></span></font>
    </div>    
  </div>
  
  <div>
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="col" value="<%= col %>">
    <p><input type="submit" value="評価"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div>
        <p>別視フォントとの比較</p>
        <% for (let row of choices){ %>
          <p><%= row.name %>:<font size=6 color="<%= '#' + col %>" face="<%= row.face %>"><%= textdata[0].sen %></font></p>
        <% } %>
      </div>
      <div>
        <% if(gb == 0) { %> 
          <p><%= textdata[0].bad %></p>
        <% }else{ %> 
          <p><%= textdata[0].good %></p>  
        <% } %>
      </div>
      <div>
        <p><%= textdata[0].adv %></p>
      </div>
    </div>
  <% } %>

  <div>
    <input type="hidden" name="ch" value="<%= col[0] %>">
    <p><input type="submit" value="次の項目へ"></p>
  </div>

</body>
</html>