<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<script>
function choiceFont(font) {
  const sen = document.querySelector("#sen");
  sen.style.fontFamily = font;
}
</script>
<style type="text/css">
span#sen {
font-family:<%= fon %>;
}
</style>
<body>
  <h1><%= textdata[0].item %></h1>
  <hr>

  <form action="/question/2/answer" method="post">
  <div id="que">
    <div>
      <p><%= textdata[0].que %></p>
    </div>
    <div>
      <p>選択肢</p>
      <p>
        <% let c; 
          for (let row of choices){ 
            if(row.face == fon) c = "checked";
            else c = "";
        %>
        <font face="<%= row.face %>">
          <input type="radio" name="choice" id="<%= row.face %>" value="<%= row.face %>" onclick="choiceFont(this.id)" <%= c %> ><%= row.name %>
        </font>
        <% } %>
      </p>
    <div>
      <font size=5>
        <p><span id="sen">カラー<span style="color:<%= '#' + col %>" >ユニバーサル</span>デザイン</span></p>
      </font>
    </div>    
  </div>
  
  <div>
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <input type="hidden" name="col" value="<%= col %>">
    <p><input type="submit" value="評価"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div>
        <p>別視フォントとの比較</p>
        <% for (let row of choices){ %>
        <p><font size=5 face="<%= row.face %>"><%= row.name %>:カラー<span style="color:<%= '#' + col %>" >ユニバーサル</span>デザイン</font></p>
        <% } %>
      </div>
      <div>
        <% if(gb == 0) { %> 
          <p><%= textdata[0].bad %></p>
          <p><%= textdata[0].adv %></p>
          <p>別の選択肢を選んでください</p>
        <% }else{ %> 
          <p><%= textdata[0].good %></p>  
          <p><%= textdata[0].adv %></p>
          <div>
            <p><a href="<%= '/question/' + (parseInt(textdata[0].id)+1) + '/' + col %>">次の項目へ</a></p>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>

</body>
</html>