<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<body>
  <h1><%= textdata[0].item %></h1>
  <hr>

  <form action="/answer" method="post" autocomplete="off">
  <div id="que">
    <div>
      <p><%= textdata[0].que %></p>
    </div>
    <div>
      <p>選択肢</p>
      <p><font color="<%= choices[0].ccode %>"><input type="radio" name="choice" value="<%= choices[0].gb %>" checked><%= choices[0].name %></font>
        <% for (let row of choices){ 
          if(row.ccode != choices[0].ccode){ %>
          <font color="<%= row.ccode %>"><input type="radio" name="choice" value="<%= row.gb %>"><%= row.name %></font>
          <input type="hidden" name="gb" value="<%= row.gb %>">
          <% } 
          }%>
      </p>
    <div>
      <p><%= textdata[0].sen %></p>
    </div>    
  </div>
  
  <div>
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <p><input type="submit" value="評価"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div>
        <p>別色覚視点</p>
      </div>
      <div>
        <p><%= textdata[0].eva %></p>
      </div>
      <div>
        <p><%= textdata[0].adv %></p>
      </div>
    </div>
  <% } %>

  <div>
    <p><input type="submit" value="次の項目へ"></p>
  </div>


  
</body>
</html>