<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="/public/js/func.js"></script>
  <script src="/public/js/3a.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  body{
    font-size: 1.5rem;
  }
  span.nor{
    font-weight: normal;
  }
  #cho{
    font-weight: bold;
    font-size: 1.75rem;
  }
  canvas.graph{
    width:500px;
  }
  #ano{
    border: 2px solid;
    border-color:#c8c8c8;
    width: <%= 2*16 %>rem;
  }
  #ano,#sim{
    font-size: 2rem
    text-align:left;
  }
  .button{
    font-size: 1.5rem;
  }

  </style>
<body>
  <p>3部：グラフ[ 1.配色 → 2.色以外での区別 → 3.項目名の書き方 ]</p>
  <hr>
  <h2>1. 配色</h2>
  <hr>
  <form action="/question/7/answer" method="post">
  <div id="que">
    <p>que</p>
  </div>
  <div id="cho">
    <p><span class="nor">線１：</span>
    <% let d; 
      for (let row of choices){ 
        if(row.ccode == col[0][0]) d = "checked";
        else d = ""; %>
      <font color="<%= '#' + row.ccode %>">
        <input type="radio" id="<%= row.ccode %>" name="s0" value="<%= row.id %>" <%= d %>><%= row.name %>
      </font>
    <% } %>
    <br><span class="nor">線２：</span>
    <% let a; 
      for (let row of choices){ 
        if(row.ccode == col[1][0]) a = "checked";
        else a = ""; %>
      <font color="<%= '#' + row.ccode %>">
        <input type="radio" id="<%= row.ccode %>" name="s1" value="<%= row.id %>" <%= a %>><%= row.name %>
      </font>
    <% } %>
    <br><span class="nor">線３：</span>
    <% let b; 
      for (let row of choices){ 
        if(row.ccode == col[2][0]) b = "checked";
        else b = ""; %>
      <font color="<%= '#' + row.ccode %>">
        <input type="radio" id="<%= row.ccode %>" name="s2" value="<%= row.id %>" <%= b %>><%= row.name %>
      </font>
    <% } %>
    </p>
  </div>
  <div id="graph">
    <canvas id="graph1" class="graph">
    <input type="hidden" name="a0s0" value="<%= col[0][0] %>">
    <input type="hidden" name="a0s1" value="<%= col[1][0] %>">
    <input type="hidden" name="a0s2" value="<%= col[2][0] %>">
  </div>
  <div id="button">
    <p><input type="submit" value="評価" class="button"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="acho">
      選択した色：
      線１：<%= col[0][4] %>、
      線２：<%= col[1][4] %>、
      線３：<%= col[2][4] %>
    </div>
    <div id="ano">
      ＜別色覚視点＞<br>
      <div id="sim">
        通常：<canvas id="a0" class="graph"></canvas>
        P型：<canvas id="a1" class="graph"></canvas>
        D型：<canvas id="a2" class="graph"></canvas>
        S型：<canvas id="a3" class="graph"></canvas>
      </div>
    </div>
    <% for(let i=1;i<=3;i++){
        for(let j=0;j<3;j++){ %>
          <input type="hidden" name="<%= 'a'+String(i)+'s'+String(j) %>" value="<%= col[j][i] %>">
    <%  }
      } %>
    <div id="eva">
      <% if(gb == 0) { %> 
        <p><%= textdata[0].bad %></p>
        <p>ポイント：<%= textdata[0].adv %></p>
        <p>別の選択肢を選んでください</p>
      <% }else{ %> 
        <p><%= textdata[0].good %></p>  
        <p>ポイント：<%= textdata[0].adv %></p>
        <hr>
        <p><a href="<%= '/question/8/' +col[0][0]+col[1][0]+col[2][0]  %>">次の項目へ</a></p>
      <% } %>
    </div>
  <% } %>
      
</body>
</html>