<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<script>
  function choiceColor() {
  const sen = document.querySelector("#sen");
}
</script>
<style type="text/css">
span#sen {
color:<%= '#' + col %>;
}
</style>
<body>
  <h1><%= textdata[0].item %></h1>
  <hr>

  <form action="/answer" method="post">
  <div id="que">
    <div>
      <p><%= textdata[0].que %></p>
    </div>
    <div>
      <p>選択肢</p>
      <p>
        <% let c; 
          for (let row of choices){ 
            if(row.ccode == col[0]) c = "checked";
            else c = "";
        %>
          
        <% } %>
      </p>
    <div>
      <span id="sen"><%= textdata[0].sen %></span>
    </div>    
  </div>
  
  <div>
    <input type="hidden" name="id" value="<%= textdata[0].id %>">
    <p><input type="submit" value="評価"></p>
  </div>
  </form>

  <% if(e == 1){ %>
    <div id="eva">
      <div>
        <p>別色覚視点</p>
        <p>P型：<span style="color:<%= '#' + col[1] %>"><%= textdata[0].sen %></span></p>
        <p>D型：<span style="color:<%= '#' + col[2] %>"><%= textdata[0].sen %></span></p>
        <p>S型：<span style="color:<%= '#' + col[3] %>"><%= textdata[0].sen %></span></p>
      </div>
      <div>
        <% if(gb == 0) { %> 
          <p><%= textdata[0].bad %></p>
          <p><%= textdata[0].adv %></p>
          <p>別の選択肢を選んでください</p>
        <% }else{ %> 
          <p><%= textdata[0].good %></p>  
          <p><%= textdata[0].adv %></p>
          <div>
            <p><a href="<%= '/question/' + (parseInt(textdata[0].id)+1) + '/' + col[0] %>">次の項目へ</a></p>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>

</body>
</html>